@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("Inter.var.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Source_Code_Pro_v11_All_Charsets_500.woff2') format('woff2');
}
