<!DOCTYPE HTML>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" type="text/css" src="/main.css">
  </head>
<body>
  {{content}}
</body>
</html>
