@font-face{
    font-family: 'Source Sans';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSans3VF-Roman.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Sans';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/SourceSans3VF-Italic.ttf.woff2') format('woff2');
}
@font-face{
    font-family: 'Source Serif';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4VF-Roman.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Source Serif';
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/SourceSerif4VF-Italic.ttf.woff2') format('woff2');
}
:root[color-mode="light"] {
    --foreground-color: #000;
    --background-color: #fff;
    --grey0: #2f2f2f;
    --grey1: #545455;
    --grey2: #e9ebee;
    --grey3: #f7f7f7;
    --pre-background: #f7f7f7;
    --link-color: #1175e2;
}
:root[color-mode="dark"] {
    --foreground-color: #fff;
    --background-color: #1c1c1e;
    --grey0: #eff1f5;
    --grey1: #cecece;
    --grey2: #4a4a4a;
    --grey3: #292929;
    --pre-background: #f7f7f7;
    --link-color: #3395ff;
}
*,
::before,
::after {
	box-sizing: border-box;
}
html:focus-within {
	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
details,
blockquote,
pre,
figure,
table,
address,
hr,
fieldset,
iframe,
audio,
video {
	margin: 0 0 1.5rem;
}
::selection, ::-moz-selection {
  background: var(--foreground-color);
  color: var(--background-color);
}
body {
    position: relative;
    color: var(--foreground-color);
    background-color: var(--background-color);
    font-family: "Source Sans";
    font-size: 18px;
    line-height: 1.3;
    padding: 100px;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}
@media (max-width:1250px){
    body {
        padding: 8vw;
    }
}
main {
    max-width: 80ch;
}
/* Links */
a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Headers */
header h1 {
    border-bottom: 1px solid var(--grey2);
    padding-bottom: .2em;
    margin-top: .2em;
}
header h1 a {
    float: right;
}
header time {
    color: var(--grey0);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .75em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Source Serif";
	line-height: 1.25;
	margin-top: 2rem;
}
/* Margin between p's */
p:not(:last-child) {
    margin-bottom: 20px;
}
/* Code */
code {
    font-family: monospace;
    font-size: .8em !important;
    background-color: var(--grey3);
    padding: 4px 8px 4px 8px;
}
pre {
    background-color: var(--pre-background) !important;
	border: 1px solid var(--grey2);
}
@media(max-width: 1000px) {
    pre {
        padding: .4em .5em !important; /* Smaller padding on small screen */
    }
}
pre code {
    padding: 0;
}
blockquote {
    border-left: 4px solid var(--grey2);
    padding-left: 16px;
    margin-left: 0;
    color: var(--grey1);
}
/* Footnotes */
:not(.footnote-definition) + .footnote-definition,
.footnote-definition + :not(.footnote-definition) {
    padding-top: 2em;
    border-top: 1px solid var(--grey2);
}
.footnote-definition {
    font-size: 0.8em;
    margin: 0.4em 0;
    opacity: 0.8;
}
.footnote-definition:target {
    opacity: 1;
    font-weight: 500;
}
.footnote-definition-label {
    padding: 1px 6px;
    top: 0;
    font-size: inherit;
}
.footnote-definition p {
    display: inline;
    margin: 6px;
}
.katex { font-size: 1.1em; }
/* Theme toggle */
#theme-switch {
    position: absolute;
    top: 0;
    right: 0
}
#theme-switch input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
#theme-switch input[type="checkbox"]+span:before {
    content: '🌚';
    display: inline-block;
    margin: 0.5em;
}
#theme-switch input[type="checkbox"]:checked+span:before {
    content: '🌝';
    display: inline-block;
    margin: 0.5em;
}
/* Incoming links */
.incoming-links {
  margin-top: 2em;
}
.incoming-links h3 {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid var(--grey2);
}
.incoming-links p {
    gap: calc(100%/30/2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.incoming-links p a {
    padding: 10px;
    border: 1px solid var(--grey2);
    margin-bottom: calc(100%/30/2);
}
.incoming-links p a:hover {
    background-color: var(--grey3);
    text-decoration: none;
}
/* Images and embedded */
img, svg, video {
    display: block;
    margin: .5rem auto;
    max-width: 100%;
	height: auto;
}
embed,
iframe,
object {
	max-width: 100%;
}
iframe {
	border-style: none;
}
/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,
sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -.25em;
}
sup {
	top: -.5em;
}
/* Rules */
hr {
	height: 0; /* Add the correct box sizing in Firefox. */
	overflow: visible; /* Show the overflow in Edge and IE. */
	border: 0;
	border-bottom: 1px solid var(--grey2);
}
/* Details */
details {
	display: block;
	padding: .5rem 1rem;
	background: var(--grey3);
	border: 1px solid var(--grey2);
}
details > :last-child {
	margin-bottom: 0;
}
details[open] > summary {
	margin-bottom: 1.5rem;
}
summary {
	display: list-item;
	cursor: pointer;
	font-weight: bold;
}
summary:focus {
	box-shadow: none;
}
/* Table */
table {
	border-collapse: collapse;
	width: 100%;
	text-indent: 0; /* Remove text indentation from table contents in Chrome, Edge, and Safari. */
}
table caption {
	margin-bottom: .5rem;
}
tr {
	border-bottom: 1px solid var(--grey2);
}
td,
th {
	padding: .5rem 0;
}
th {
	text-align: left;
}
/* Lists */
ul,
ol,
dd {
	padding-left: 2rem;
}
li > ul,
li > ol {
	margin-bottom: 0;
}
/* Watermark */
p.watermark {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--grey1);
  margin: 0 2em 1em 0;
  font-size: 70%;
  font-style: italic;
}
