name: Create release 

on:
  push:
    tags:
      - '[0-9]+.*'

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: Cache
        uses: Swatinem/rust-cache@v1

      - name: Build
        run: |
          cargo build --release
          mv target/release/mdzk target/release/mdzk_amd64
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/mdzk_amd64
          body: For more information, read the [CHANGELOG](https://github.com/mdzk-rs/mdzk/blob/main/CHANGELOG.md).
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true

      - name: Cache
        uses: Swatinem/rust-cache@v1

      - name: Build
        run: |
          cargo build --release
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/mdzk.exe
          body: For more information, read the [CHANGELOG](https://github.com/mdzk-rs/mdzk/blob/main/CHANGELOG.md).
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-mac:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-apple-darwin
          default: true
          override: true

      - name: Cache
        uses: Swatinem/rust-cache@v1

      - name: Build for mac
        run: |
          cargo build --release
          mv target/release/mdzk target/release/mdzk_darwin
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/mdzk_darwin
          body: For more information, read the [CHANGELOG](https://github.com/mdzk-rs/mdzk/blob/main/CHANGELOG.md).
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

